<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
  <link rel=" stylesheet" href="/admin/css/style.css">
  <title>Admin</title>
</head>

<body>
  <!--start side bar-->
  <div class="container-fluid overflow-hidden">
    <div class="row vh-100 overflow-auto">
      <div class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 bg-dark d-flex sticky-top">
        <div
          class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2 text-white">
          <a href="/" class="d-flex align-items-center pb-sm-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-5">JSOUR<span class="d-none d-sm-inline">sa</span></span>
          </a>
          <ul
            class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start"
            id="menu">
            <li>
              <a data-bs-toggle="collapse" class="nav-link px-sm-0 px-2" href="#header" id="header-btn"
                onclick="formsHandler('header-form')">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-bookmark-check-fill" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zm8.854-9.646a.5.5 0 0 0-.708-.708L7.5 7.793 6.354 6.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
                </svg><span class="ms-1 d-none d-sm-inline">header</span> </a>
            </li>
            <li>
              <a href="#about-us" onclick="formsHandler('about-form')" data-bs-toggle="collapse"
                class="nav-link px-sm-0 px-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-bookmark-check-fill" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zm8.854-9.646a.5.5 0 0 0-.708-.708L7.5 7.793 6.354 6.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
                </svg><span class="ms-1 d-none d-sm-inline">من نحن</span> </a>
            </li>
            <li>
              <a href="#projects" onclick="formsHandler('projects')" data-bs-toggle="collapse"
                class="nav-link px-sm-0 px-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-bookmark-check-fill" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zm8.854-9.646a.5.5 0 0 0-.708-.708L7.5 7.793 6.354 6.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
                </svg><span class="ms-1 d-none d-sm-inline">المشاريع</span> </a>
            </li>
            <li>
              <a href="#services" onclick="formsHandler('servs')" data-bs-toggle="collapse"
                class="nav-link px-sm-0 px-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-bookmark-check-fill" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zm8.854-9.646a.5.5 0 0 0-.708-.708L7.5 7.793 6.354 6.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
                </svg><span class="ms-1 d-none d-sm-inline">الخدمات</span> </a>
            </li>
            <li>
              <a href="#throw-services" onclick="formsHandler('th-servs')" data-bs-toggle="collapse"
                class="nav-link px-sm-0 px-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-bookmark-check-fill" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zm8.854-9.646a.5.5 0 0 0-.708-.708L7.5 7.793 6.354 6.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
                </svg><span class="ms-1 d-none d-sm-inline">من خلال خدماتنا</span> </a>
            </li>
            <li>
              <a href="#clints" onclick="formsHandler('clints')" data-bs-toggle="collapse"
                class="nav-link px-sm-0 px-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-bookmark-check-fill" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zm8.854-9.646a.5.5 0 0 0-.708-.708L7.5 7.793 6.354 6.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
                </svg><span class="ms-1 d-none d-sm-inline">العملاء</span> </a>
            </li>
            <li>
              <a href="#portfillo" onclick="formsHandler('portfillo')" data-bs-toggle="collapse"
                class="nav-link px-sm-0 px-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-bookmark-check-fill" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zm8.854-9.646a.5.5 0 0 0-.708-.708L7.5 7.793 6.354 6.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
                </svg><span class="ms-1 d-none d-sm-inline">معرض الاعمال</span> </a>
            </li>
            <li>
              <a href="#why-us" onclick="formsHandler('why-us')" data-bs-toggle="collapse"
                class="nav-link px-sm-0 px-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-bookmark-check-fill" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zm8.854-9.646a.5.5 0 0 0-.708-.708L7.5 7.793 6.354 6.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
                </svg><span class="ms-1 d-none d-sm-inline">لماذا نحن</span> </a>
            </li>
            <li>
              <a href="#quality" onclick="formsHandler('quality')" data-bs-toggle="collapse"
                class="nav-link px-sm-0 px-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-bookmark-check-fill" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zm8.854-9.646a.5.5 0 0 0-.708-.708L7.5 7.793 6.354 6.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
                </svg><span class="ms-1 d-none d-sm-inline">الجودة و الامان</span> </a>
            </li>
            <li>
              <a href="#image" class="nav-link px-sm-0 px-2" onclick="formsHandler('imgs')">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-bookmark-check-fill" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zm8.854-9.646a.5.5 0 0 0-.708-.708L7.5 7.793 6.354 6.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
                </svg><span class="ms-1 d-none d-sm-inline">اضافة صور </span></a>
            </li>
          </ul>
          <div class="dropdown py-sm-4 mt-sm-auto ms-auto ms-sm-0 flex-shrink-1">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
              id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://github.com/mdo.png" alt="hugenerd" width="28" height="28" class="rounded-circle">
              <span class="d-none d-sm-inline mx-1">Joe</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
              <li><a class="dropdown-item" href="#">الملف الشخصي</a></li>
              <li><a class="dropdown-item" href="#">اضافة محرر</a></li>
              <li><a class="dropdown-item" href="#">عرض المحررين</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">تسجيل الخروج</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col d-flex flex-column h-sm-100">
        <main class="row overflow-auto">
          <div class="col pt-4">
            <%- include('lay-outs/header-form')%>
              <%- include('lay-outs/about-form')%>
                <%- include('lay-outs/projects')%>
                  <%- include('lay-outs/servs') %>
                    <%- include('lay-outs/throw-servs') %>
                      <%- include('lay-outs/clints') %>
                        <%- include('lay-outs/portfillo') %>
                          <%- include('lay-outs/why-us') %>
                            <%- include('lay-outs/add-img') %>
                              <%- include('lay-outs/quality') %>
                                <%- include('lay-outs/custserv') %>

          </div>
        </main>
      </div>
      <div class="col d-flex flex-column h-sm-100 img-gallery">
        <h3>معرض الصور</h3>
        <select class="form-select" aria-label="Default select example" onchange="getCateg(this)">
          <option value="all">الكل</option>
          <%if(imgsCategs){ %>
            <%imgsCategs.forEach( i=>{ %>
              <option value="<%=i%>">
                <%=i%>
              </option>
              <%}) %>
                <%}%>
        </select>
        <div class="row">
          <%if(imgs){ %>
            <%imgs.forEach( i=>{ %>
              <div class="card col-md-6 col-sm-12 <%=i.categ %>">
                <input type="text" value="<%= i.path.split('public')[1] %>" style="display: none;">
                <img id="img-1" src="<%= i.path.split('public')[1] %>" class="card-img-top" alt="..."
                  onclick="copySrc(this)">
              </div>
              <%}) %>
                <%}%>
        </div>
      </div>
    </div>
  </div>
  <!-- end side bar-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
  <script src="/admin/js/admin.js"></script>
</body>

</html>