<div class="projects forms d-none" id="quality">
    <ul class="list-group">
        <h4>الجودة و الامان</h4>
        <form action="/admin/home/quality" id="add-quality-form" method="post">
            <div class="mb-3">
                <label class="form-label">المحتوى</label>
                <textarea class="form-control" placeholder="المحتوى" id="floatingTextarea"
                    name="content"><%= quality.content%></textarea>
            </div>
            <div class="mb-3">
                <label class="form-label">مميزات الجودة لدينا</label>
                <% quality.feats.forEach( f=>{%>
                    <div class="mb-3">
                        <input class="form-control" placeholder="رابط الموقع" id="floatingTextarea" name="feats"
                            value="<%=f%>" />
                        <button type="button" class="btn btn-danger" onclick="removeE(this)">-</button>
                    </div>
                    <%})%>
                        <button type="button" onclick="addE(this)" class="btn btn-dark">+</button>
            </div>
            <div class="mb-3">
                <label class="form-label">الصورة</label>
                <% if(quality.img){%>
                    <img src="<%=quality.img%>" alt="">
                    <input class="form-control" placeholder="رابط الصورة" id="floatingTextarea" value="<%=quality.img%>"
                        name="img" />
                    <%}else{%>
                        <input class="form-control" placeholder="رابط الصورة" id="floatingTextarea"
                            value="<%=quality.img%>" name="img" />
                        <%}%>
            </div>
            <input type="hidden" id="hide">
            <button type="submit" class="btn btn-dark" id="subBtn"> حفظ</button>
        </form>
    </ul>
</div>